/*
 * =====<< 卍 · Copyright · 卍 >>=====
 * 
 * File: \css\style.css
 * Project: lib
 * Author: Lokavit
 * Created Date: 2023-04-12 8:05:01
 * -----
 * Last Modified: 2023-04-12 9:18:41
 * -----
 * Copyright © 1911 - 2023 Lokavit
 * 
 *     卍 · 小僧過境　衆生甦醒 · 卍
 * 
 * =====<< 卍 · Description · 卍 >>=====
 * 
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* overflow: hidden; */
}

nav {
  line-height: 1.5;
}
nav > ul {
  list-style-type: none;
}
nav > ul > li {
  color: aqua;
}

header,
footer {
  color: chartreuse;
  line-height: 3;
  background-color: #333;
}

th,
td {
  border: 1px solid;
}

table {
  width: 100%;
  /* max-width: 50vw; */
  /* height: 240px; */
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  /* border-top-width: 0; */
  /* border-left-width: 0; */
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: middle;
  z-index: 3;
}
thead th:first-child {
  z-index: 9;
  position: sticky;
  left: 0;
}
tbody tr td:first-child {
  z-index: 7;
  position: sticky;
  left: 0;
}

th:last-child,
td:last-child {
  /* border-right-width: 0; */
}

tr:last-child td {
  /* border-bottom-width: 0; */
}
